[Unit]
Description=Backend Guest Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/fastapi/backend-guest
Environment="ENVIRONMENT=prod"
Environment="RUST_LOG=info"
ExecStart=/home/ubuntu/fastapi/backend-guest/target/release/backend-guest
Restart=no
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target