[Unit]
Description=FastAPI Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/fastapi/backend
ExecStart=echo "hello"
Restart=no
StandardOutput=file:/home/ubuntu/fastapi/backend/logs/backend-out.log
StandardError=file:/home/ubuntu/fastapi/backend/logs/backend-err.log

[Install]
WantedBy=multi-user.target