[Unit]
Description=Monitor Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/fastapi/backend
ExecStart=/home/ubuntu/.local/bin/uv run ./scripts/prod/monitor.py --host 127.0.0.1 --port 8001 --log-level info
Restart=no
Environment="ENVIRONMENT=prod"
Environment="PYTHONUNBUFFERED=1"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target