[Unit]
Description=FastAPI Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/fastapi/backend
Environment="ENVIRONMENT=prod"
ExecStart=/home/ubuntu/.local/bin/uv run uvicorn src.main:app --host 0.0.0.0 --port 8000
Restart=no

[Install]
WantedBy=multi-user.target